from flask import Flask, request, render_template,redirect,url_for
import numpy as np
import tensorflow as tf
from PIL import Image
import io
import os

app = Flask(__name__)

# This is the path where you want to save the uploaded files
UPLOAD_FOLDER = 'uploads'
app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER
app.config['ALLOWED_EXTENSIONS'] = {'png', 'jpg', 'jpeg'}
# Ensure the upload folder exists
os.makedirs(UPLOAD_FOLDER, exist_ok=True)
model = tf.keras.models.load_model('path/to/your/model.h5')


@app.route("/home")  
def homefn():
    return render_template("web.html",title='home')

@app.route('/submit', methods=['POST'])
def submit_text_and_file():
    # Check if the post request has the text part
    if 'text_message' in request.form:
        text_message = request.form['text_message']
        print("Received text message:", text_message)

    # Check if the post request has the file part
    if 'file_upload' in request.files:
        file = request.files['file_upload']
        if file.filename != '':
            # Save the file to the uploads folder
            filepath = os.path.join(app.config['UPLOAD_FOLDER'], file.filename)
            file.save(filepath)
            print(f"File {file.filename} uploaded successfully.")
        else:
            print("No file was uploaded.")

    # Redirect or respond after handling the form submission
    return redirect(url_for('submit_success'))

@app.route('/predict', methods=['POST'])
def predict():
    if 'file' not in request.files:
        return 'No file uploaded.', 400
    
    file = request.files['file']
    if file:
        # Read the image and preprocess it
        image = Image.open(io.BytesIO(file.read()))
        image = preprocess_image(image)

        # Make a prediction
        predictions = model.predict(image)
        gender, age = decode_predictions(predictions)

        # Return the results
        return render_template('result.html', gender=gender, age=age)
    
@app.route('/submit-success')
def submit_success():
    return "Submission successful!"


if __name__ == "__main__":
    app.run(host='0.0.0.0',debug=True,port=5001)#host='0.0.0.0',port=5001
